@import '../../../../scss/variable';

.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    &.hide{
        display: none;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
    }
    .content-modal{
        background-color: $primaryColor;
        z-index: 1;
        position: relative;
        width: 400px;
        height: 200px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        .general{
            width: 100%;
            height: calc(100% / 3);
            padding: 20px;
            border-bottom: 1px solid $bgPurpleDark;
            color: white;
            &:last-child{
                border: none;
            }
        }
        .header-modal{
            text-transform: capitalize;
            font-weight: bold;
        }
        .footer-modal{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn-confirm{
                padding: 10px 15px;
                text-transform: uppercase;
                color: white;
                font-weight: bold;
                border-radius: 5px;
                &.yes{
                    background-image: linear-gradient(90deg,#b18aff,#a16eff);
                    box-shadow: 0 0 0 0 #7b51db, 0 0 0 0 #5a37b8, 0 0 transparent;
                    &:hover{
                        background-image: linear-gradient(90deg,#d5bfff,#b18aff);
                    }
                }
                &.no{
                    background-image: linear-gradient(90deg,#ff708d,#ff3d71);
                    box-shadow: 0 0 0 0 #db2c66, 0 0 0 0 #b81d5b;
                    &:hover{
                        background-image: linear-gradient(90deg,#ffa8b4,#ff708d);
                    }
                }
            }
        }
    }
}

