@import '../../../../scss/variable';

.form{
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    label{
        display: block;
        width: 200px;
        text-align: right;
        .required{
            margin-left: 5px;
            color: red;
        }
    }
    .input-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}