.form{
    background-color: white;
    margin    : 60px auto;
    padding   : 30px;
    max-width : 600px;
    border    : 2px solid #e5e9ec;
    box-shadow: 0px 0px 14px 3px rgb(222, 224, 250);
    border-radius: 10px;
    .title{
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        color: black;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .input{
        margin-top: 20px;
        position  : relative;
        label {
            color: #888888;
            .required {
                display: inline-block;
                margin-left: 5px;
                color: #ff0000;
            }
        }
        .icon-input{
            position: absolute;
            top: 60%;
            left: 15px;
        }
        input{
            display         : block;
            width           : 100%;
            height          : 45px;
            outline         : none;
            border          : 1px solid #e0e0e0;
            padding-left    : 45px;
            background-color: #ffffff;
            margin-top      : 10px;
            &:focus {
                border    : 1px solid #37b548;
                transition: 0.2s;
            }
        }
        .icon-eye{
            position: absolute;
            right   : 10px;
            top     : 60%;
            cursor  : pointer;
            font-size: 14px;
        }
    }
    .remember-box{
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        #remember{
            cursor: pointer;
        }
        label{
            font-size: 14px;
            cursor: pointer;
        }
    }
    .submit{
        display: block;
        margin:  0 auto;
        outline         : none;
        border          : none;
        padding         : 10px 30px;
        border-radius   : 10px;
        background-color: #37b548;
        color           : white;
        text-transform  : uppercase;
        &:hover {
            background-color: #242424;
            transition      : 0.5s;
        }
    }
}
