// ---------------------------- PAGINATION --------------------------------------
.page-pagination{
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 0 !important;
}

.pagintation{
   display: flex !important;
   align-items: center;
   justify-content: center;
   list-style: none;
   .page-item{
      &.disabled{
        .page-link{
            color: gray !important;
            background-color: $bgPurpleDark !important;
            border-color: $black!important;
            opacity: 0.7;
        }
      }
      &.active{
        .page-link{
            background-color: $purpleLight !important;
            border-color: $purpleLight !important;
            color: white !important;
        }
      }
      .page-link{
        box-shadow: none !important;
        outline: none !important;
        color: white !important;
        border-color: $black!important;
        background-color: $bgPurpleDark !important;
      }
   }
}

.text-show-item{
  display: flex;
  align-items: center;
  gap: 5px;
  .number-highlight{
    color: white;
    font-weight: 700;
  }
  .number-select{
    color: white;
    background-color: $purpleLight;
    outline: none;
    border: none;
    padding: 5px 10px;
  }
}