// ---------------------------- TABLE --------------------------------------
.table-container{
    overflow-x: auto !important;
    width: 100%;
}

.table-list{
    background-color: $primaryColor;
    border: 1px solid $black;
    min-width: 1500px;
    
    thead, tbody{
        display: table-row-group;
    }

    tr{
        display: table-row;
        text-align: left;
    }

    thead {
        th{
            display: table-cell;
            padding: 15px 20px;
            font-size: 15px;
            button{
                color: white;
                font-weight: bold;
            }
            .icon{
                font-size: 12px;
                margin-left: 5px;
            }
        }
    }

    tbody{
        tr{
            &.isSelectedDelete{
               opacity: 0.5;
            }
            &:hover{
              .input-td{
                background-color: $purpleLight;
              }
            }
        }
        td{
            display: table-cell;
            padding: 15px 20px;
            border-top: 1px solid $black;
            .link{
                color: $blue;
                &:hover{
                    text-decoration: underline;
                }
            }
            .input-td{
              color: white;
              width: 100px;
              padding: 5px 8px;
              border-radius: 5px;
              border: 1px solid transparent;
              &:focus{
                border-color: $blue;
                background-color: white;
                color: $black;
                box-shadow: 0 1px 1px #00000013, 0 0 8px #66afe999;
              }
            }
        }
        .icon-delete{
            background-color: $purpleLight;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                color: $black;
            }
        }
        .icon-power{
            cursor: pointer;
            color: white;
            &.enabled{
                color: rgb(25, 241, 25);
            }
        }
    }
}
