@import '../scss/variable';

.page-manage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title{
        font-size: 30px;
    }
    .btn-add{
        display: block;
        color: white;
        background-color: $purpleLight;
        border-radius: 5px;
        text-align: center;
        max-width: 100px;
        padding: 7px;
        &:hover{
            color: $black;
        }
    }
}

.btn-footer{
    background-color: $yellow;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-transform: capitalize;
    &:hover{
        color: $black;
    }
    &.btn-footer-disabled{
        opacity: 0.5;
    }
}