@import '../scss/variable';

// -------------------------------- INPUT FIELD --------------------------------
.input-field, textarea {
  outline: none;
  background-color: $bgInput;
  border: 1px solid $black;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  width: 200px;
  &::placeholder {
    color: $colorPlaceholder;
  }
  &:focus {
    transition: 0.5s;
    background-color: $primaryColor;
    border: 1px solid $purpleLight;
  }
}

//--------------------------------- CUSTOM STYLE REACT-SELECT FIELD ------------------
.css-14el2xx-placeholder,
.css-1pndypt-Input {
  color: white !important;
  font-weight: bold !important;
}

.css-1pahdxg-control,
.css-1s2u09g-control {
  background-color: $bgInput !important;
  border-color: $black !important;
  box-shadow: none !important;
  width: 200px !important;
  &:hover {
    border-color: $purpleLight !important;
  }
}
.css-1gtu0rj-indicatorContainer {
  color: white !important;
  &:hover {
    color: white !important;
  }
}
// ---------
.css-4ljt47-MenuList {
  padding: 0 !important;
}
.css-26l3qy-menu {
  width: 200px !important;
  background-color: $primaryColor !important;
  box-shadow: none !important;
  border: 1px solid $black !important;
  padding: 0 !important;
}
.css-1n7v3ny-option {
  background-color: rgba(180, 180, 219, 0.16) !important;
}
.css-yt9ioa-option {
  background-color: $primaryColor !important;
}

.css-qc6sy-singleValue {
  color: white !important;
}
.css-9gakcf-option {
  background-color: $purpleLight !important;
}

// ------------------------------------ PAGE ----------------------------------
.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    font-size: 25px;
  }
  .btn-create {
    display: block;
    color: white;
    background-color: $purpleLight;
    border-radius: 5px;
    text-align: center;
    max-width: 100px;
    padding: 7px;
    &:hover {
      color: $black;
    }
  }
}

.seprated-space{
  height: 20px;
  background-color: $primaryColor;
  box-shadow: 0 5px 5px -5px #000000bf;
  border: none;

}

.btn-footer {
  background-color: $yellow;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  text-transform: capitalize;
  &:hover {
    color: $black;
  }
  &.btn-footer-disabled {
    opacity: 0.5;
  }
}

// ------------------------ FORM CREATE - UPDATE ------------------------
.form{
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    label{
        display: block;
        width: 200px;
        text-align: right;
        .required{
            margin-left: 5px;
            color: red;
        }
    }
    .input-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
