$headerHeight: 76px;
$sidebarWidth: 200px;
$paddingcontentPage: 36px;
$footerHeight: 200px;

$sidebarWidthToggle: 100px;

$primaryColor: #323259;
$bgPurpleDark: #1b1b38;
$purpleLight: #a16eff;
$blue: #007bff;
$orange: orange;
$black: black;
$bgInput: #252547;
$colorPlaceholder: #9b9bc1;
$yellow: #f0ad4e;